<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> navbar}}
        {{> header}}
        <p>Welcome To The About Page!</p>
        {{> footer}}
    </body>
</html>