<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Welcome To the Home Page!</p>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://t0.gstatic.com/images?q=tbn:ANd9GcRa8fK2XPR2ahpu1PZOLzTK4It1_VvoSwVuTvk1jc34dw58IOaX" alt="Card image cap" class="img-responsive">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">The alchemist.</p>
    <a href="#" class="btn btn-primary">Purchase</a>
  </div>
</div>
    </body>
</html>