<! DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="public/style.css">

    </head>
    <body>
        {{{body}}} <!-- this {{{body}}} is a hook to contain all the other views present in the view folder-->
    </body>
</html>